# OpenAI
OPENAI_API_KEY=

# LangSmith
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=interviewpilot
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

# ChromaDB
CHROMA_HOST=chromadb
CHROMA_PORT=8000